Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, upload:helm-chart

synchronize:pipeline:
  stage: synchronize
  image: bitnami/git:latest
  before_script:
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H "${CI_SERVER_HOST}" >>~/.ssh/known_hosts
  - git config --global user.email "${GITLAB_USER_EMAIL}"
  - git config --global user.name "🤖 GitLab CI/CD 🤖"
  ...

upload:helm-chart:
  stage: upload
  image: alpine/helm
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
  before_script:
  - apk add --no-cache curl yq jq git openssh-client
  - mkdir -p ~/.ssh && chmod 700 ~/.ssh
  - ssh-keyscan -H 'gitlab.com' >> ~/.ssh/known_hosts
  ...

fix checkout issue
  .gitlab-ci.yml
Due: synchronize:pipeline

fix push right issue
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml from "master"
  .gitlab-ci.yml
Due: synchronize:pipeline

force pipeline execution to generate package
  coog/Chart.yaml
Due: upload:helm-chart

update helm image which was not working
  .gitlab-ci.yml
Due: synchronize:pipeline

force update package
  coog/Chart.yaml
Due: upload:helm-chart

fix helm image error
  .gitlab-ci.yml
  coog/Chart.yaml
Due: synchronize:pipeline, upload:helm-chart

test
  .gitlab-ci.yml
  coog/Chart.yaml
Due: synchronize:pipeline, upload:helm-chart

update helm image
  .gitlab-ci.yml
  coog/Chart.yaml
Due: synchronize:pipeline, upload:helm-chart

Merge .gitlab-ci.yml from "140046b0"
  .gitlab-ci.yml
Due: synchronize:pipeline

fix helm error message
  .gitlab-ci.yml
  coog/Chart.yaml
Due: synchronize:pipeline, upload:helm-chart

Merge .gitlab-ci.yml from "540d89df"
  .gitlab-ci.yml
Due: synchronize:pipeline

create helm package
  coog/Chart.yaml
Due: upload:helm-chart

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml
  upload:helm-chart: any of: **/Chart.yaml
