Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, upload:helm-chart

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml
  upload:helm-chart: any of: **/Chart.yaml

update helm repo organisation
  .gitlab-ci.yml
  README.md
  coog/Chart.yaml
Due: synchronize:pipeline, upload:helm-chart

Merge .gitlab-ci.yml from "71ac031c"
  .gitlab-ci.yml
Due: synchronize:pipeline

create helm package
  coog/Chart.yaml
Due: upload:helm-chart

update pipeline
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml from "3e49638b"
  .gitlab-ci.yml
Due: synchronize:pipeline

Update deployment.yaml
  coog/templates/web/deployment.yaml
Due: none

update config
  coog/requirements.yaml
Due: none

update pipeline to try to add index
  .gitlab-ci.yml
  coog/Chart.yaml
Due: synchronize:pipeline, upload:helm-chart

Merge .gitlab-ci.yml from "e2542fc3"
  .gitlab-ci.yml
Due: synchronize:pipeline

test
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml from "8dd427bc"
  .gitlab-ci.yml
Due: synchronize:pipeline

execute pipeline
  coog/Chart.yaml
Due: upload:helm-chart

allow manual builds
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml from "43f573c6"
  .gitlab-ci.yml
Due: synchronize:pipeline

fix app version to be displayed in helm search
  coog/Chart.yaml
Due: upload:helm-chart

rollback version format
  coog/Chart.yaml
Due: upload:helm-chart
